node_modules
.next
out
build
.DS_Store
*.pem
.env
.env*.local
.vercel
next-env.d.ts

# собираются из scripts/make-icons.mjs
public/icons
*.tsbuildinfo

# Копируется скриптом prebuild из node_modules
/public/pdf.worker.min.mjs
